#Intro To Numerical Methods
##Demonstration

In [5]:
b ='Sally'
b = int(4)
print (b)

b = float(4)
print (b)

4
4.0

In [8]:
b = 'Sally'
B = 4
print (b)

Sally

In [9]:
x, y ,z = 'one','two','three'
print (x,y,z)

one two three

In [10]:
x=y=z= 'four'
print (x,y,z)

four four four

In [11]:
x = 'enjoying'
print ("python programming is "+x)

python programming is enjoying

In [13]:
x = 'enjoying'
y = 'python programming is '
z = y+x
print (z)

python programming is enjoying

In [15]:
x = 5
y = 3
sum = x + y
sum

8